*{
    margin: 0;
    
}

img{
    width: 50px;
     
}

.navbar{
    background: whitesmoke;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 1.2rem; */
    padding: 0;
    
}

.navbar-container{
    display: flex;
    /* margin: auto; */
    width: min(100%-2rem);
    margin-top: 20px;
    
}

.menu-icon{
    display: none;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 45px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    /* padding-right: 3rem; */
    margin: 0 auto;
    font-size: 1.2rem;
    
}

.nav-links {
    color: rgb(13, 2, 2);
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline;
}

.nav-item{
    display: flex;
}

.nav-links:hover{
    color: var(--outline);
}

.nav-signup{
    display: none;
}

@media (max-width:960px){
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 60vh;
        position: absolute;
        top: 80px;
        right: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        padding-bottom: 30px;
      }
      

    .nav-menu.active {
          background: #242222;
          right: 1px;
          opacity: 1;
          transition: all 0.5s ease;
          z-index: 1;
     }

     .nav-signup{
        display: block;
    }

    

    .nav-links {
            text-align: center;
            padding: 2rem;
            width: 100%;
            display: table;
            color: white;
           
           
    }

    .nav-links:hover{
        color: var(--outline);
        background-color: white;
    }

    .menu-icon{
        display: block;
        position: absolute;
        right: 40px;
        top: 8px;
        font-size: 30px;
        color: black;
        cursor: pointer;
        transform: translate(-100%, 60%);
    }

    img{
        position: absolute;
        left: 40px;
        top: 20px;
    }


  
}



